*{
    font-family: 'Courier New', Courier, monospace;
}

.logo{
 width: 160px;
 height: 55px;
 margin: 0rem 7rem 0rem 1.7rem;
}

.nav-link{
    font-size: 16px;
    margin-left: 3rem;
}


.nav-link:hover{
    border-bottom: 2px solid blue ;
    border-top: 2px solid blue;
    box-shadow: 3px 4px 9px 2px #FFFFFF; 
    box-shadow: 3px 4px 9px 2px #FFFFFF;
}

.nav-link:focus{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue ;
}

.navbar{
    padding: 3px;
}